@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  background: #0c1022;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #0c1022;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px; /* Corrected font-size value */
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  pointer-events: none;
  animation: slidetop 1s ease forwards;
}

.navbar {
  display: flex;
  flex-direction: row; /* Stack items horizontally */
  align-items: center;
  justify-content: flex-end; /* Align items to the right side */
}

.navbar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px; /* Adjust as needed */
}

.navbar a.active, .navbar a:hover {
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
} 

/* Add animation keyframes as needed */

/* Picture container */
.picture-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Gap between pictures */
  margin-top: 90px;
  margin-left: 50px;
  margin-right: 50px;
}

/* Picture */
.picture {
  position: relative; /* Relative positioning for absolute positioning of popup */
  width: 100%; /* Full width */
  aspect-ratio: 1 / 1; /* Maintain a square aspect ratio */
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Picture image */
.picture img {
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  object-fit: cover; /* Cover the entire container */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Popup */
.popup {
  display: none; /* Initially hidden */
  position: fixed; /* Fixed positioning to overlay on top of content */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
  padding: 20px;
  border-radius: 10px;
  z-index: 9999; /* Ensure popup appears above overlay */
}

/* Close button */
.close {
  color: #FF1505;
  font-weight: 900;
  position: absolute;
  top: -30px;
  right: 1px;
  font-size: 60px;
  cursor: pointer;
}

/* Overlay */
#overlay {
  display: none; /* Initially hidden */
  position: fixed; /* Fixed positioning to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 999; /* Ensure overlay appears above everything except the popup */
  backdrop-filter: blur(5px); /* Apply blur effect to the background */
}


























/* Adjustments for 1024px */
@media (max-width: 1075px) {
  *.navbar a {
    margin-left: 15px; /* Further reduce margin for navigation items */
    font-size: 15px;
  }

  .logo {
    font-size: 15px; /* Further decrease logo font size */

  }


  .home {

    padding: 0 3%;
    transition: .2s;

  }

  .home-content {

    max-width: 500px;
    margin-left: 20px;
    margin-top: -10px;
  }

  .home-content h1  {
    font-size: 45px;
    font-weight: 600;
    line-height: 1.2;
  }

  .home-content h3 {
    font-size: 28px;
    font-weight: 700;
  }

  .home-content p {
    font-size: 13px;
    margin: 10px 0 30px;

  }

  .home-img {
    margin-right: 20px; /* Add distance to the right of the image */
  }

  .home-img {
    width: 320px;
    height: 320px;

  }

  .home-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 298px;
    height: 298px;

    background: #fff;
    border-radius: 50%;

  }

  .glowing-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 50%;
  }

  .glowing-circle span:nth-child(1) {
    filter: blur(10px);
  }

  .glowing-circle .image {
    position: relative;
    width: 298px;
    height: 298px;

    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
  }

  .image img {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 280px;
    object-fit: cover;
  }
}

@media (max-width: 958px){

  .home-img {
    margin-right: 20px; /* Add distance to the right of the image */
  }

  .home-img {
    width: 250px;
    height: 250px;

  }

  .home-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 230px;
    height: 230px;

    background: #fff;
    border-radius: 50%;

  }

  .glowing-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 50%;
  }

  .glowing-circle span:nth-child(1) {
    filter: blur(10px);
  }

  .glowing-circle .image {
    position: relative;
    width: 230px;
    height: 230px;

    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
  }

  .image img {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 200px;
    object-fit: cover;
  }

  .home {

    padding: 0 3%;
    transition: .2s;

  }

  .home-content {

    max-width: 500px;
    margin-left: 20px;
    margin-top: -10px;
  }

  .home-content h1  {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
  }

  .home-content h3 {
    font-size: 18px;
    font-weight: 700;
  }

  .home-content p {
    font-size: 15px;
    margin: 10px 0 30px;

  }

  .home-sci a{
    font-size: 15px;

    width: 30px;
    height: 30px;
  }
}

@media (max-width: 802px){
  *.navbar a {
    margin-left: 10px; /* Further reduce margin for navigation items */
    font-size: 13px;
  }

  .logo {
    font-size: 13px; /* Further decrease logo font size */

  }
}

@media (max-width: 735px){
  *.navbar a {
    margin-left: 5px; /* Further reduce margin for navigation items */
    font-size: 13px;
  }

  .logo {
    font-size: 13px; /* Further decrease logo font size */

  }
}



@media (max-width: 688px){
  .navbar{
    display: none;
  }

  .logo {
    font-size: 15px; /* Further decrease logo font size */

  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: all 0.3s ease; /* Add transition */
  }

  .navbar {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items to the start (top) */
    background-color: #0c1022;
    position: absolute;
    top: 100%; /* Initially position below the header */
    left: 0;
    width: 100%;
    padding: 20px 10%;
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Initially not clickable */
    /*  transition: all 0.3s ease; /* Add transition */*/
  }

  .navbar.active {
    opacity: 1; /* Show navbar */
    top: calc(100% + 20px); /* Move navbar down to be below the header */
    pointer-events: auto; /* Make navbar clickable */
  }

  *.navbar a{
    font-size: 20px;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .bar {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
  }

  .menu-icon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-icon.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* Popup */
  .popup {
   width: 100%; /* Full width */ 
  }
  .close{
    font-size: 55px;
  }
}


@media (max-width: 580px){
  .navbar{
    display: none;
  }

  .logo {
    font-size: 15px; /* Further decrease logo font size */

  }

  .home {

    padding: 0 3%;
    transition: .2s;

  }

  .home-content {

    max-width: 500px;
    margin-left: 20px;
    margin-top: -10px;
  }

  .home-content h1  {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
  }

  .home-content h3 {
    font-size: 18px;
    font-weight: 700;
  }

  .home-content p {
    font-size: 10px;
    margin: 10px 0 30px;

  }

  .home-img {
    margin-right: 20px; /* Add distance to the right of the image */
  }

  .home-img {
    width: 145px;
    height: 145px;

  }

  .home-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 140px;
    height: 140px;

    background: #fff;
    border-radius: 50%;

  }

  .glowing-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 50%;
  }

  .glowing-circle span:nth-child(1) {
    filter: blur(10px);
  }

  .glowing-circle .image {
    position: relative;
    width: 140px;
    height: 140px;

    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
  }

  .image img {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 126px;
    object-fit: cover;
  }


  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: all 0.3s ease; /* Add transition */
  }

  .navbar {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items to the start (top) */
    background-color: #0c1022;
    position: absolute;
    top: 100%; /* Initially position below the header */
    left: 0;
    width: 100%;
    padding: 20px 10%;
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Initially not clickable */
    /*  transition: all 0.3s ease; /* Add transition */*/
  }

  .navbar.active {
    opacity: 1; /* Show navbar */
    top: calc(100% + 10px); /* Move navbar down to be below the header */
    pointer-events: auto; /* Make navbar clickable */
  }

  *.navbar a{
    font-size: 20px;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .bar {
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
  }

  .menu-icon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-icon.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  




}